<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BookHouse</title>
    {% load static %}
    <script type='text/javascript'>
      window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '771daa635717738901b468963ce2620b37a25ec2');
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    {% comment %} bootstrap {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/276ffed8b7.js" crossorigin="anonymous"></script>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/> {% endcomment %}
    <link rel="icon" href="/static/images/Icon Bh1.png">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"/> {% endcomment %}
    {% comment %} <script src="https://js.stripe.com/v3/"></script> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static "css/overallStyles.css" %}"/>
  </head>
  <body>
    <div id="main" enctype="multipart/form-data">
      <div id="app"></div>
    </div>

  <script src="{% static "frontend/main.js" %}"></script>
  {% comment %} bootstrap {% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>