<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BookHouse</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    {% load static %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"/> {% endcomment %}
    {% comment %} <script src="https://js.stripe.com/v3/"></script> {% endcomment %}
  </head>
  <body>
    <div id="main" enctype="multipart/form-data">
      <div id="app"></div>
    </div>

  <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>